
    <div class="container">
        <a href="#">
            <span>SUBSCRIBE</span>
            <div class="liquid"></div>
        </a>
        <div class="intro2">
            USEFULL RESOURCES INCLUDE:
        </div>
       <div class="resource">TELEGRAM CHANNELS</div>
       <div class="telegram">
           <strong>NAME:</strong>CODING MASTER <strong>Link:</strong><a href="t.mecodingmaster52" id="telegram">CLICK TO JOIN</a>
           <strong>NAME:</strong>CODING MASTER
           <strong>NAME:</strong>CODING MASTER
       </div>
    </div>
