<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">WEB DEVELOPMENT JOURNEY GUIDE</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a href="#" class="nav-link" routerLink="/">HOME </a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link" routerLink="/resources" id="nav">RESOURCES</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link" routerLink="/skills">SKILLS</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link" routerLink="/links">LINKS</a>
      </li>
    </ul>
  </div>
</nav>
<div class="alert alert-warning">
  <p class="never">NEVER SKIP THE BASICS OF ANY LANGUAGE</p>
</div>
<router-outlet></router-outlet>
<footer>
  DEVELOPED AND MAINTAINED BY
</footer>