<head>
    
</head>
<body>
    <div class="container">
        <div class="intro">
            Basically learning the fundamentals of web development are an easier way to introduce yourself to the wolrd of coding<br>
            This doesn't mean that web development is an easy or a hard field to focus on<br>
            Learning the basics is an important tool to reach different levels of web development<br>
    
        </div>
        <div class="intro2">
            Basically what you need to know
        </div>
        <div class="intro3">
          First master the <strong>Front end</strong> skills<br>
          Front End is the visual part of the website als known as the <strong>client-side</strong><br>
          These includes the;<br>
           <ul class="list">
               <li>buttons</li>
               <li>images</li>
               <li>text/fonts</li>
           </ul><br>
    
         You will need to learn these three languages:<br>
         Deeper knowledge of them will land you a job in IT industry
         <ul class="list">
             <li>HTML</li>
             <li>CSS</li>
             <li>JAVASCRIPT AND IT'S FRAMEWORKS</li>
         </ul>
         <strong>HTML</strong> is used for structure of a web page<br>
         <strong>CSS</strong> is used to style HTML elements<br>
         <stronG>JAVASCRIPT</stronG> is used to make web pages more interactive/dynamic web pages<br>
         Introductiobn of <strong>LIBRARIES AND FRAMEWORKS</strong> has made front end development much easier<br>
         <strong>EXAMPLES INCLUDE:</strong><br>
         <ul class="list">
             <li>BOOTSTRAP</li>
             <li>ANGULAR JS</li>
             <li>JQUERY</li>
             <li>REACT JS</li>
         </ul>
        </div>
        <div class="intro2">
            WHY CHOOSE WEB DEVELOPMENT
        </div>
        <ul class="list">
            <li>its easy</li>
            <li>fast results</li>
            <li>demand in job market</li>
            <li>low starting cost</li>
            <li>its fun</li>
        </ul>
        <strong>BACK END</strong> of a website deals with what happens inthe server of a website<br>
        it is the unseen part of  a website<br>
        <div class="intro2">
            LANGUAGES USED INCLUDE
        </div>
        <ul class="list">
            <li>PHP</li>
            <li>NODE JS/JAVASCRIPT</li>
            <li>PYTHON</li>
            <li>RUBY</li>
        </ul>
    </div>
    
</body>